image-processing/practice-1/truncate_image.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-2/out_dispersion_sample-gray.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/3_low_pass_iris-gray.png filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/coil.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/shaker.png filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/moon-scatter.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/cropped3.png filter=lfs diff=lfs merge=lfs -text
graph-network/assets/png/dfs-bfs-branch.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/insertion2.png filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/test-data-applied-boundary.png filter=lfs diff=lfs merge=lfs -text
graph-network/assets/png/dfs-bfs-depth.png filter=lfs diff=lfs merge=lfs -text
graph-network/assets/png/dfs-bfs-symmetry.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bucket1.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/dataset1result.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/dataset2result.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/insertion1.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/self-drawn-figure-2.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-1/binary_image.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-3/modified_image.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bucket4.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bucket5.png filter=lfs diff=lfs merge=lfs -text
graph-network/assets/png/node-count-search.png filter=lfs diff=lfs merge=lfs -text
graph-network/assets/png/stack-memory.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-1/image.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/1_fft_no_shift_circle-small.png filter=lfs diff=lfs merge=lfs -text
signal-processing/kadai2/fft_magnitude.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bubble2.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bucket2.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/dataset3result.png filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/gradual-data.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/plotted_self_data.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/self-drawn-figure-3.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-1/histogram_image.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/1_fft_with_shift_circle-small.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/3_high_pass_iris-gray.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/quick1.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/randomizeddatacompared.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/output-self.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/cropped4.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/test.png filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/simulation.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/countexecution.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-2/sample-gray.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/image.png filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/circuit.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bigo.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bucket3.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/datalengthresult.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/dataset6result.png filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/cad-design.png filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/logo.png filter=lfs diff=lfs merge=lfs -text
signal-processing/kadai2/waveform.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/count1.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/count2.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/count4.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/quick2.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/iris-gray.png filter=lfs diff=lfs merge=lfs -text
soft-computing/kadai2/bp-iris.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bucketcounttime.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/output.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-1/to_zero_inverted_image.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-2/out_dispersion_image.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/4_high_pass_range_iris-gray.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/4_low_pass_range_iris-gray.png filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/self-data-scatter.png filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/tensorflow-example.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/boundary.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/count3.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/dataset5result.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/quick3.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/cropped2.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/self-drawn-figure-1.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/self-drawn-figure-4.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/circle-small.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bubble1.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/case2-plot.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/case3-plot.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/cropped1.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-2/out_variance_image.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/2_fft_no_shift_circle-small.png filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/3d-design.png filter=lfs diff=lfs merge=lfs -text
signal-processing/kadai2/idft_waveform.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/dataset7result.png filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/tuned-moon-data.png filter=lfs diff=lfs merge=lfs -text
graph-network/assets/png/dfs-bfs-diameter.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-1/to_zero_image.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-2/out_kmeans_image.png filter=lfs diff=lfs merge=lfs -text
signal-processing/kadai2/dft_magnitude.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bubble3.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/all-case-plot.png filter=lfs diff=lfs merge=lfs -text
graph-network/assets/png/dfs-bfs-leaf.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-1/binary_inverted_image.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/bucketcountmemory.png filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/moon-boundary.png filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/self-dat-boundary.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/case1-plot.png filter=lfs diff=lfs merge=lfs -text
latex/latex03/apple01.png filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/pngs/dataset4result.png filter=lfs diff=lfs merge=lfs -text
ai-lab/percep_kit/report/assets/output.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-2/out_kmeans_sample-gray.png filter=lfs diff=lfs merge=lfs -text
image-processing/practice-4/2_fft_with_shift_circle-small.png filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/tuned-moon-data.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/dfs-example.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/vaccine-distribution.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bigo.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bubble2.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/count1.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/cad-design.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/quick3.eps filter=lfs diff=lfs merge=lfs -text
latex/latex06/images/djawatan.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/dataset4result.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/dfs-bfs-diameter.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/discharging-cycle.eps filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/test-data-applied-boundary.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bucket1.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/dataset5result.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/dataset7result.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/count4.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/bfs-example.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/connected-2.eps filter=lfs diff=lfs merge=lfs -text
latex/latex06/images/webber-wallace-line.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bucket5.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/count2.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/senegal-covid.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/vaccine-box.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bucketcounttime.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/insertion2.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/dfs-bfs-depth.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/greedy-coloring.eps filter=lfs diff=lfs merge=lfs -text
latex/latex06/images/situgunung.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bubble1.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/countexecution.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/quick2.eps filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/moon-scatter.eps filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/tensorflow-example.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/dfs-bfs-branch.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/spanning-tree-transformation.eps filter=lfs diff=lfs merge=lfs -text
latex/latex06/images/equator.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/dataset3result.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/randomizeddatacompared.eps filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/self-data-scatter.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/charging-graph.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/circuit.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/new-des.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bubble3.eps filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/gradual-data.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/new-diagram.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/dataset1result.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/dfs-bfs-symmetry.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/node-count-search.eps filter=lfs diff=lfs merge=lfs -text
latex/latex06/images/indonesia-map.eps filter=lfs diff=lfs merge=lfs -text
latex/latex06/images/rajaampat.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/logo.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bucket2.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bucketcountmemory.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/datalengthresult.eps filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/self-dat-boundary.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/dfs-bfs-leaf.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/3d-design.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/coil.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/simulation.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/dataset2result.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/insertion1.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/quick1.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/count3.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/dataset6result.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/shaker.eps filter=lfs diff=lfs merge=lfs -text
ai-lab/knn_kit/report/images/moon-boundary.eps filter=lfs diff=lfs merge=lfs -text
graph-network/assets/eps/clique-size-examples.eps filter=lfs diff=lfs merge=lfs -text
latex/presentation/images/ngor-beach.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bucket3.eps filter=lfs diff=lfs merge=lfs -text
sorting/report/assets/bucket4.eps filter=lfs diff=lfs merge=lfs -text
